<link rel="stylesheet" href="http://test.loc/components/captcha/captcha.css">
<section id="bits_captcha">
	<figure>
		<img class="image-captcha" src="s">
		<a class="update">
      <img class="update_image" src="http://test.loc/components/captcha/assets/images/update.png" alt="update">
			<span>CAMBIAR</span>
		</a>
	</figure>
	<label>
    Introduzca el código.
		<i class="ic-alerta-bg-fill"></i>
		<input type="text" class="code" name="code" id="code" required="required" placeholder="00000" maxlength="5">
		<small class="errorCaptcha">
		</small>
	</label>
</section>
